body{
    height: 3000px!important;
}
.nav-fixed{
    background-color: white!important;
    padding: 0 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.navbar-collapse{
    justify-content: end;
}
.nav-link-fixed{
    text-align: center;
    color: #f56b81!important;
}

