body{
    height: 3000px!important;
}
.nav-fixed{
    background-color: white!important;
    padding: 0 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.navbar-collapse{
    justify-content: end;
}
.nav-link-fixed{
    text-align: center;
    color: #f56b81!important;
}
.border{
    border: none!important;
}
.border-radius{
    border-radius: 10px;
}
.card-body-fixed{
    margin-top: -70px;
    font-size: 24px;
    color: white;
}
.col-4-fixed{
    width: 35.5%;
}

@media(min-width: 977px) {
    .col-fixed{

    }
}

